.logo{
  height:50px;
  cursor: pointer;
}

.image-row{
  width: 100%; 
  height: 80%;
}

.image-box{
  border: 1px solid #ccc; 
  width: 100%; 
  height: 100%;
  min-height: 260px;
  cursor: pointer;

  .icon-image{
    font-size: 200px; 
    color: #ccc;
  }
}

.box-no-img{
  background-color: #333; 
  color: #fff;
}

.box-proccess-img{
  position: relative;
  img{
    opacity: 0.5;
  }
  ion-spinner {
    transform: scale(4);
  }
}

.button-box{
  width: 100%; 
  position: absolute;
  opacity: 0.5;
  top: 10px;
  left: 10px;

  ion-button{
    --border-radius: 8px;
    text-transform: none;
  }
}


@media only screen and (max-width: 576px) {
  ion-col{
    margin-bottom: 30px;
  }
}